{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'search/main.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'search/item_info.css' %}" />

<body>
	<h3>Movie Info for {{ movie_info.4 }}</h3>
	{% csrf_token %}

	<div class="result">
		<ul class="outer">
			<div class="list">
				<img src="http://image.tmdb.org/t/p/w154//{{ movie_info.5 }}" alt="movie poster">
				<li>Summary: {{ movie_info.0 }}</li>
				<li>Release Date: {{ movie_info.1 }}</li>
				<li>Genres:</li>
				{% for genre in movie_info.2 %}
					<ul>
						<li>{{ genre.name }}</li>
					</ul>
				{% endfor %}
				<li>Runtime: {{ movie_info.3 }} minutes</li>
			</div>
		</ul>
	</div>
	<br>

	<div class="back-button"><a href="{% url 'search:index' %}">Search for another movie or tv show</a></div>
</body>