div {
	background-color: #b3f0ff;
}

div.list {
	padding: 10px;
	border-radius: 10px;
}

div.back-button {
	background-color: #ff9696;
	padding: 5px;
	display: inline-block;
	border-radius: 10px;
}

ul.outer {
	list-style-type: circle;
}

li {
	list-style-type: circle;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: grey;
}
