div {
	background-color: #b3f0ff;
}

div.result {
	border-radius: 10px;
	overflow: hidden;
	width: 100%;
}

div.list {
	border-radius: 10px;
	overflow: hidden;
	width: 100%;
	margin-bottom: 20px;
}

div.back-button {
	background-color: #ff9696;
	padding: 5px;
	display: inline-block;
	border-radius: 10px;
}

img {
	float: left;
	margin-right: 2em;
	border-radius: 10px;
}

ul.outer {
	list-style-type: circle;
	padding-bottom: 100%;
	margin-bottom: -100%;
}

li {
	list-style-type: circle;
}

ul > li {
	margin-left: 10px;
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: grey;
}
